.Subtitulo1{
    color: white;
    font-size: larger;
    text-align: center;
}
.CartaItemblk{
    
    color: aqua;
}

.CartaFondoblk ion-item {
    --background: black;
    color: white; /* Set the text color to white or any contrasting color */
  }
